{% extends 'user_dashboard.html' %}
{% load static %}
{% block content %}
  <!-- side nav -->
  {% include 'partials/church_sidebar.html' %}
  <!-- side nav -->

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <!-- top nav -->
    {% include 'partials/top_nav.html' %}
    <!-- top nav -->

    <div class="container-fluid py-4">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 mb-4">
          <p>{% include 'partials/messages.html'%}</p>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-lg-flex">
                <div>
                  <h5 class="mb-0">
                    Church TrustFund for{% if active_quarter %}
                      <span class="text-info badge badge-warning">{{ active_quarter.quarter_name }}</span>
                    {% endif %}

                  </h5>
                </div>
                <div class="ms-auto my-auto mt-lg-0 mt-4">
                  <div class="ms-auto my-auto">
                    {% comment %} <a href="#" class="btn bg-gradient-primary btn-sm mb-0" data-bs-toggle="modal" data-bs-target="#add_income">+&nbsp; Add New</a> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-0">
              <div class="table-responsive">
                <table class="table table-flush" id="products-list">
                  <thead class="thead-light">
                    <tr>
                      <th>Sabbath Week</th>
                      <th>Tithe Amount</th>
                      <th>Offering Amount</th>
                      <th>Total Amount</th>
                      
                    </tr>
                  </thead>
                  <tbody>
					{% if trust_fund_data %}
					{% for trust_fund_entry in trust_fund_data %}
                    <tr>
						{% if active_week %}
                      <td class="text-sm">{{active_week.sabbath_alias}}</td>
					    {% endif %}

                      <td class="text-sm">{{ trust_fund_entry.tithe_amount }}</td>
                      <td class="text-sm">{{ trust_fund_entry.offering_amount }}</td>
                      <td class="text-sm">{{ trust_fund_entry.total_amount }}</td>
                     
                    </tr>
					{% endfor %}
					{% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- New member modal  -->
     
      <div class="modal fade" id="add_income" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog mt-lg-10">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Add Church Expense</h5>
              <i class="material-icons ms-3">file_upload</i>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="" method="post">
                {% csrf_token %}
                <div class="row justify-content-around">
                  <div class="col-md-5">
                    <div class="input-group input-group-dynamic mb-4">{{ form.cash_generated }}</div>
                  </div>
                  <div class="col-md-5">
                    <div class="input-group input-group-dynamic mb-4">
                      <label class="form-label">Cash Spent</label>
                      {{ form.cash_spent }}
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="input-group input-group-dynamic mb-4">
                      <label class="form-label">Cash To Bank</label>
                      {{ form.cash_to_bank }}
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="input-group input-group-dynamic mb-4">
                      <label class="form-label">cash_at_hand</label>
                      {{ form.cash_at_hand }}
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="input-group input-group-dynamic mb-4">
                      <label class="form-label">Week</label>
                      {{ form.sabbath_week }}
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn bg-gradient-danger btn-sm" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn bg-gradient-success btn-sm">Save</button>
            </div>
          </div>
        </div>
      </div>

      <!-- new member modal  -->

      <!-- footer -->
      {% include 'partials/footer.html' %}
      <!-- footer -->
    </div>
  </main>
{% endblock %}
