{% extends 'user_dashboard.html' %} {% load static %} {% block content %}

<!-- side nav -->
{% if request.user.role == "Admin" %}
   {% include 'partials/conf_sidebar.html' %}

{% elif request.user.role == 'District_secretary' %}   
   {% include 'partials/dist_sidebar.html' %}

{% elif request.user.role == 'District_treasurer' %}   

   {% include 'partials/dist_sidebar.html' %}

{% else %}

  {% include 'partials/church_sidebar.html' %}

{% endif %}

<main class="main-content max-height-vh-100 h-100">
   <!-- top nav -->
   {% include 'partials/top_nav.html' %}
   <!-- top nav -->

	
    <div class="container-fluid my-3 py-3">
        <div class="row mb-5">
            <div class="col-lg-3">
                <div class="card position-sticky top-1">
                    <ul class="nav flex-column bg-white border-radius-lg p-3">
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex" data-scroll href="#profile">
                                <i class="material-icons text-lg me-2">person</i>
                                <span class="text-sm">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item pt-2">
                            <a class="nav-link text-dark d-flex" data-scroll href="#basic-info">
                                <i class="material-icons text-lg me-2">receipt_long</i>
                                <span class="text-sm">Basic Info</span>
                            </a>
                        </li>
                        <li class="nav-item pt-2">
                            <a class="nav-link text-dark d-flex" data-scroll href="#password">
                                <i class="material-icons text-lg me-2">lock</i>
                                <span class="text-sm">Change Password</span>
                            </a>
                        </li>
                        
                        <li class="nav-item pt-2">
                            <a class="nav-link text-dark d-flex" data-scroll href="#notifications">
                                <i class="material-icons text-lg me-2">campaign</i>
                                <span class="text-sm">Notifications</span>
                            </a>
                        </li>
                        
                        <li class="nav-item pt-2">
                            <a class="nav-link text-dark d-flex" data-scroll href="#delete">
                                <i class="material-icons text-lg me-2">delete</i>
                                <span class="text-sm">Delete Account</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 mt-lg-0 mt-4">
      
                 <p>
                    {% include 'partials/messages.html' %}
                  </p>

                <div class="card mt-4" id="basic-info">
                    <div class="card-header">
                        <h5>Basic Info</h5>
                    </div>
                    <div class="card-body pt-0">

                        <form action="{% url 'account:update_profile_info' %}" method ="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-4">
                                <div class="input-group input-group-static">
                                    <label>First Name</label>
                                    {{form.first_name}}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-static">
                                    <label>Last Name</label>
                                    {{form.last_name}}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-static">
                                    <label>Middle Name</label>
                                    {{form.middle_name}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="input-group input-group-static">
                                    <label>Username</label>
                                    {{form.username}}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-static">
                                    <label>Gender</label>
                                    {{form.sex}}
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="input-group input-group-static">
                                    <label>Date Of Birth</label>
                                    {{form.date_of_birth}}
                                </div>
                            </div>
                        
                        
                        </div>
                        <div class="row mt-4">
                            <div class="col-4">
                                <div class="input-group input-group-static">
                                    <label>Email</label>
                                    {{form.email}}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-static">
                                    <label>phone</label>
                                    {{form.phone}}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group input-group-static">
                                    <label>Address</label>
                                    {{form.address}}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-6">
                                <div class="input-group input-group-static">
                                    <label>City</label>
                                    {{form.city}}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group input-group-static">
                                    <label>State</label>
                                    {{form.state}}
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn bg-gradient-dark btn-sm float-end mt-6 mb-0">Update profile</button>
                        </form>
                    </div>
                </div>

                <div class="card mt-4" id="password">
                    <div class="card-header">
                        <h5>Change Password</h5>
                    </div>
                    <div class="card-body pt-0">
                      <form action ="{% url 'account:change_password' %}"  method ="post">
                       {% csrf_token %}
                        <div class="input-group input-group-outline">
                            <label class="form-label">Current password</label>
                            <input type="password" name="old_password" class="form-control" />
                        </div>
                        <div class="input-group input-group-outline my-4">
                            <label class="form-label">New password</label>
                            <input type="password" name="new_password" class="form-control" />
                        </div>
                        <div class="input-group input-group-outline">
                            <label class="form-label">Confirm New password</label>
                            <input type="password" name="confirm_password" class="form-control" />
                        </div>
                        <h5 class="mt-5">Password requirements</h5>
                        <p class="text-muted mb-2">
                            Please follow this guide for a strong password:
                        </p>
                        <ul class="text-muted ps-4 mb-0 float-start">
                            <li>
                                <span class="text-sm">One special characters</span>
                            </li>
                            <li>
                                <span class="text-sm">Min 6 characters</span>
                            </li>
                            <li>
                                <span class="text-sm">One number (2 are recommended)</span>
                            </li>
                            <li>
                                <span class="text-sm">Change it often</span>
                            </li>
                        </ul>
                        <button type="submit" class="btn bg-gradient-dark btn-sm float-end mt-6 mb-0">Update password</button>
                    </form>
                    </div>
                </div>

                
                <div class="card mt-4" id="notifications">
                    <div class="card-header">
                        <h5>Notifications</h5>
                        <p class="text-sm">Choose how you receive notifications. These notification settings apply to the things you’re watching.</p>
                    </div>
                    <div class="card-body pt-0">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="ps-1" colspan="4">
                                            <p class="mb-0">Activity</p>
                                        </th>
                                        <th class="text-center">
                                            <p class="mb-0">Email</p>
                                        </th>
                                        <th class="text-center">
                                            <p class="mb-0">Push</p>
                                        </th>
                                        <th class="text-center">
                                            <p class="mb-0">SMS</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="ps-1" colspan="4">
                                            <div class="my-auto">
                                                <span class="text-dark d-block text-sm">Login</span>
                                                <span class="text-xs font-weight-normal">Notify when You login</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                                                <input class="form-check-input" checked type="checkbox" id="flexSwitchCheckDefault11" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault12" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault13" />
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
  {% comment %}

    
                <div class="card mt-4" id="sessions">
                    <div class="card-header pb-3">
                        <h5>Sessions</h5>
                        <p class="text-sm">This is a list of devices that have logged into your account. Remove those that you do not recognize.</p>
                    </div>
                    <div class="card-body pt-0">
                        <div class="d-flex align-items-center">
                            <div class="text-center w-5">
                                <i class="fas fa-desktop text-lg opacity-6"></i>
                            </div>
                            <div class="my-auto ms-3">
                                <div class="h-100">
                                    <p class="text-sm mb-1">
                                        Bucharest 68.133.163.201
                                    </p>
                                    <p class="mb-0 text-xs">
                                        Your current session
                                    </p>
                                </div>
                            </div>
                            <span class="badge badge-success badge-sm my-auto ms-auto me-3">Active</span>
                            <p class="text-secondary text-sm my-auto me-3">EU</p>
                            <a href="javascript:;" class="text-primary text-sm icon-move-right my-auto">
                                See more
                                <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                            </a>
                        </div>
                        <hr class="horizontal dark" />
                        <div class="d-flex align-items-center">
                            <div class="text-center w-5">
                                <i class="fas fa-desktop text-lg opacity-6"></i>
                            </div>
                            <p class="my-auto ms-3">Chrome on macOS</p>
                            <p class="text-secondary text-sm ms-auto my-auto me-3">US</p>
                            <a href="javascript:;" class="text-primary text-sm icon-move-right my-auto">
                                See more
                                <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                            </a>
                        </div>
                        <hr class="horizontal dark" />
                        <div class="d-flex align-items-center">
                            <div class="text-center w-5">
                                <i class="fas fa-mobile text-lg opacity-6"></i>
                            </div>
                            <p class="my-auto ms-3">Safari on iPhone</p>
                            <p class="text-secondary text-sm ms-auto my-auto me-3">US</p>
                            <a href="javascript:;" class="text-primary text-sm icon-move-right my-auto">
                                See more
                                <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                  {% endcomment %}

                <div class="card mt-4" id="delete">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-sm-0 mb-4">
                            <div class="w-50">
                                <h5>Delete Account</h5>
                                <p class="text-sm mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                            </div>
                            <div class="w-50 text-end">
                                <button class="btn btn-outline-secondary mb-3 mb-md-0 ms-auto" type="button" name="button">Deactivate</button>
                                <button class="btn bg-gradient-danger mb-0 ms-2" type="button" name="button">Delete Account</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
      <!-- footer -->
      {% include 'partials/footer.html' %}
      <!-- footer -->
    </div>
</main>

{% endblock %}
