{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title> Aba South Accounting Managment System</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Font -->
  <link href="../../css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Plugins -->
  <link rel="stylesheet" href="{% static 'front_page/assets/css/vendor.min.css' %}">
  <link rel="stylesheet" href="{% static 'front_page/assets/vendor/bootstrap-icons/font/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'front_page/assets/vendor/aos/dist/aos.css' %}">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'front_page/assets/css/theme.min.css' %}">
  <style>
/* Hide SVG section on extra small screens */
@media screen and (max-width: 576px) {
  .svg-section {
    display: none;
  }
  body {
  min-height: 100vh;
}
}
</style>

</head>

<body>
  <!-- ========== HEADER ========== -->
  <header id="header" class="navbar navbar-expand navbar-end navbar-absolute-top navbar-light navbar-show-hide shadow-lg" data-hs-header-options='{
            "fixMoment": 1000,
            "fixEffect": "slide"
          }'>
    
    <!-- End Topbar -->

    <div class="container">
      <nav class="js-mega-menu navbar-nav-wrap">
     
        <!-- Default Logo -->
        <a class="navbar-brand" href="{% url 'core:index' %}" aria-label="Front">
           <style>
         @media screen and (max-width: 576px) { /* For xs screens and below */
              
              .navbar-brand-logo {
                width: 40%; /* Set the desired width */
               
            }
        }
        
        </style>
          <img class="navbar-brand-logo img-fluid " src="{% static 'front_page/assets/svg/logos/log2.png' %}" alt="Logo">
        </a>
        
        <!-- End Default Logo -->

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="bi-list"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="bi-x"></i>
          </span>
        </button>
        <!-- End Toggler -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="navbar-absolute-top-scroller">
            <ul class="navbar-nav">
              
              <!-- Button -->
              {% comment %}
              <li class="nav-item">		  
                <a class="btn rounded-pill btn-transition px-3 px-sm-2 px-md-5 px-lg-5 text-sm "  style="background-color:#d0021b; color:white;"  href="#" data-bs-toggle="modal" data-bs-target="#signupModal" target="_blank">Register</a>
              </li>
			    {% endcomment %}
			   <!-- Button -->
              <li class="nav-item">
			  
                <a class="btn  btn-transition  px-3 px-sm-2 px-md-5 px-lg-5 fw-bolder "  style="background-color:#007f98; color:white;"href="{% url 'account:signin' %}" >Sign in</a>
              </li>
              <!-- End Button -->
            </ul>
          </div>
        </div>
        <!-- End Collapse -->
      </nav>
    </div>
  </header>

  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
    <div class="d-lg-flex position-relative">
      <div class="container d-lg-flex align-items-lg-center content-space-t-3 content-space-lg-0 min-vh-lg-100">
        <!-- Heading -->
        <div class="w-100">
          <div class="row">
            <div class=" col-sm-5 col-md-5 col-lg-6">
              <div class="mb-5">
                <h1 class="display-6 mb-3">
                  Stewardship Simplified: 
				        <br>
                  <span class="text-primary text-highlight-warning">
                    <span class="js-typedjs" data-hs-typed-options='{
                            "strings": ["Every Tithe.", "Every Talent.", " Every Member."],
                            "typeSpeed": 90,
                            "loop": true,
                            "backSpeed": 30,
                            "backDelay": 2500
                          }' style="color:#2f557f !important;"></span>
                  </span>
                </h1>

                <p class="lead">As every man hath received the gift, even so minister the same one to another, as good stewards of the manifold grace of God. (1 Peter 4:10)</p>
              </div>

              <div class="d-grid d-sm-flex gap-3">
                <a class="btn btn-transition px-6" style="background-color:#d0021b; color:white;" href="{% url 'account:signin' %}">Get Started</a>
                
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Title & Description -->

        <!-- SVG Shape -->
        <div class="svg-section col-md-7 col-lg-7 col-xl-6  d-none d-sm-block d-md-block d-lg-block position-absolute top-0 end-0 pe-0" style="margin-top: 6.75rem;">
  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 1137.5 979.2">
    <!-- SVG content -->
         <path fill="#F9FBFF" d="M565.5,957.4c81.1-7.4,155.5-49.3,202.4-115.7C840,739.8,857,570,510.7,348.3C-35.5-1.5-4.2,340.3,2.7,389
              c0.7,4.7,1.2,9.5,1.7,14.2l29.3,321c14,154.2,150.6,267.8,304.9,253.8L565.5,957.4z"></path>
            <defs>
              <path id="mainHeroSVG1" d="M1137.5,0H450.4l-278,279.7C22.4,430.6,24.3,675,176.8,823.5l0,0C316.9,960,537.7,968.7,688.2,843.6l449.3-373.4V0z"></path>
            </defs>
            <clippath id="mainHeroSVG2">
              <use xlink:href="#mainHeroSVG1"></use>
            </clippath>
            <g transform="matrix(1 0 0 1 0 0)" clip-path="url(#mainHeroSVG2)">
              <image width="750" height="750" xlink:href="{% static 'front_page/assets/img/750x750/acct.jpg' %}" transform="matrix(1.4462 0 0 1.4448 52.8755 0)"></image>
            </g>
          </svg>
        </div>
        <!-- End SVG Shape -->
      </div>
    </div>
    <!-- End Hero -->
       <!-- Card Grid -->
       <div class="container content-space-2 content-space-t-xl-3 content-space-b-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5">
          <h2>Transparent Church Accounting Realtime.</h2>
        </div>
        <!-- End Heading -->
  
        <div class="text-center mb-10">
          <!-- List Checked -->
          <ul class="list-inline list-checked list-checked-primary">
            <li class="list-inline-item list-checked-item">Manage Members and Churches</li>
            <li class="list-inline-item list-checked-item">Add Tithes, Offerings</li>
            <li class="list-inline-item list-checked-item">Calculate Trustfunds and generate Reports</li>
          </ul>
          <!-- End List Checked -->
        </div>
  
        <div class="row mb-5 mb-md-0">
          <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="card card-sm h-100">
              <div class="p-2">
                <img class="card-img" src="https://am.adventistmission.org/assets/public/news/galleries/8041/8-1.jpg" alt="Image Description">
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- End Col -->
  
          <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="card card-sm h-100">
              <div class="p-2">
                <img class="card-img" src="https://www.revivalandreformation.org/assets/components/phpthumbof/cache/22-03-11%20-%20God%27s%20Math.e2f250d00b1e55fd6bddcd892046ea77.jpg" alt="offering box">
              </div>
  
            </div>
            <!-- End Card -->
          </div>
          <!-- End Col -->
  
          <div class="col-sm-6 col-lg-4">
            <!-- Card -->
            <div class="card card-sm h-100">
              <div class="p-2">
                <img class="card-img" src="https://www.thetechwire.com/wp-content/uploads/2022/06/man-calculating.jpeg" alt="Image Description">
              </div>
  
            </div>
            <!-- End Card -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Card Grid -->
 
    <!-- End Card Grid -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <footer class=" mt-5 " style="background-color:#007f98; ">
    <div class="container pb-1 pb-lg-7">
      

      <div class="border-top my-7"></div>
      <!-- Copyright -->
      <div class="w-md-85 text-lg-center mx-lg-auto">
        <p class="text-light small">&copy; . All rights reserved SDA Aba South Conference.</p>
              </div>
      <!-- End Copyright -->
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->
  

  <!-- JS Implementing Plugins -->
  <script src="{% static 'front_page/assets/js/vendor.min.js' %}"></script>
  <script src="{% static 'front_page/assets/vendor/aos/dist/aos.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'front_page/assets/js/theme.min.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF HEADER
      // =======================================================
      new HSHeader('#header').init()


      // INITIALIZATION OF MEGA MENU
      // =======================================================
      new HSMegaMenu('.js-mega-menu', {
          desktop: {
            position: 'left'
          }
        })


      // INITIALIZATION OF SHOW ANIMATIONS
      // =======================================================
      new HSShowAnimation('.js-animation-link')


      // INITIALIZATION OF BOOTSTRAP VALIDATION
      // =======================================================
      HSBsValidation.init('.js-validate', {
        onSubmit: data => {
          data.event.preventDefault()
          alert('Submited')
        }
      })


      // INITIALIZATION OF BOOTSTRAP DROPDOWN
      // =======================================================
      HSBsDropdown.init()


      // INITIALIZATION OF GO TO
      // =======================================================
      new HSGoTo('.js-go-to')


      // INITIALIZATION OF AOS
      // =======================================================
      AOS.init({
        duration: 650,
        once: true
      });


      // INITIALIZATION OF TEXT ANIMATION (TYPING)
      // =======================================================
      HSCore.components.HSTyped.init('.js-typedjs')


      // INITIALIZATION OF SWIPER
      // =======================================================
      var sliderThumbs = new Swiper('.js-swiper-thumbs', {
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
        history: false,
        breakpoints: {
          480: {
            slidesPerView: 2,
            spaceBetween: 15,
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 15,
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 15,
          },
        },
        on: {
          'afterInit': function (swiper) {
            swiper.el.querySelectorAll('.js-swiper-pagination-progress-body-helper')
            .forEach($progress => $progress.style.transitionDuration = `${swiper.params.autoplay.delay}ms`)
          }
        }
      });

      var sliderMain = new Swiper('.js-swiper-main', {
        effect: 'fade',
        autoplay: true,
        loop: true,
        thumbs: {
          swiper: sliderThumbs
        }
      })
    })()
  </script>
</body>
</html>
