{% extends 'user_dashboard.html' %}
{% load static %}
{% block content %}
  <!-- side nav -->
  {% include 'partials/conf_sidebar.html' %}
  <!-- side nav -->

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <!-- top nav -->
    {% include 'partials/top_nav.html' %}
    <!-- top nav -->

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12 col-lg-8 mb-4">
          <p>{% include 'partials/messages.html'%}</p>
     </div>
        <div class="col-sm-12">
          <div class="">
            <div class="p-3 position-relative">
              <h4 class="badge badge-info d-inline">{{ active_quarter }}</h4>
              <h4 class="badge badge-info d-inline">{{ active_week }}</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- main content -->
      <div class="row mt-4">
        <div class="col-md-4 col-sm-4 col-6">
          <div class="card">
            <div class="card-body text-center">
              <h1 class="text-gradient text-primary"><span id="status1" countto="21">{{ all_quater.count }}</span> <span class="text-lg ms-n2"></span></h1>
              <h6 class="mb-0 font-weight-bolder">Quarters</h6>
            </div>
            <div class="card h-100">
              <div class="card-body d-flex p-3">
                <div class="nav-wrapper position-relative ms-auto w-100">
                  <ul class="nav nav-pills nav-fill p-1" role="tablist">
                    <li class="nav-item" type="button" data-bs-toggle="modal" data-bs-target="#quarterModal">
                      <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#" role="tab" aria-controls="cam1" aria-selected="true">Create</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-6">
          <div class="card">
            <div class="card-body text-center">
              <h1 class="text-gradient text-primary"><span id="status2" countto="44">{{ months.count }}</span> <span class="text-lg ms-n1"></span></h1>
              <h6 class="mb-0 font-weight-bolder">Months</h6>
              <p class="opacity-8 mb-0 text-sm"></p>
            </div>
            <div class="card h-100">
              <div class="card-body d-flex p-3">
                <div class="nav-wrapper position-relative ms-auto w-100">
                  <ul class="nav nav-pills nav-fill p-1" role="tablist">
                    <li class="nav-item" type="button" data-bs-toggle="modal" data-bs-target="#monthModal">
                      <a class="nav-link mb-0 px-0 py-1 active" href="#">Create</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 mt-md-0">
          <div class="card">
            <div class="card-body text-center">
              <h1 class="text-gradient text-primary"><span id="status3" countto="52">{{sabbaths.count}}</span> <span class="text-lg ms-n2"></span></h1>
              <h6 class="mb-0 font-weight-bolder">Sabbaths</h6>
              <p class="opacity-8 mb-0 text-sm"></p>
            </div>
            <div class="card h-100">
              <div class="card-body d-flex p-3">
                <div class="nav-wrapper position-relative ms-auto w-100">
                  <ul class="nav nav-pills nav-fill p-1" role="tablist">
                    <li class="nav-item" type="button" data-bs-toggle="modal" data-bs-target="#sabbathModal">
                      <a class="nav-link mb-0 px-0 py-1 active" href="#">Create</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-4">
          <div class="card mb-4">
            <div class="card-header pb-0 d-flex flex-row justify-content-between">
              <h6>Quarters</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table table-hover align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Manage</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if all_quater %}
                    {% for quarter in all_quater %}
                    <tr>
                     
                      <td>
                        <div class="d-flex px-3 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{quarter.quarter_name}}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="">
                          {% if quarter.is_active == True %}
                          <a  href= "#" class="btn btn-icon btn-3 btn-sm btn-warning" type="button">Active</a>
                          {% else %}
                           <a  href= "{% url 'dashboard:activate_quarter' quarter.quarter_id %}" class="btn btn-icon btn-3 btn-sm btn-info" type="button">Activate</a>
                          {% endif %}
                          <a href="{% url 'dashboard:delete_quarter' quarter.quarter_id %}" class="btn btn-icon btn-3 btn-sm btn-primary" type="button">Delete</a>
                        </div>
                      </td>
                    </tr>
                    
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card mb-4">
            <div class="card-header pb-0 d-flex flex-row justify-content-between">
              <h6>Months</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Manage</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if months %}
                    {% for month in months %}
                    <tr>
                      <td>
                        <div class="d-flex px-3 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{month.month_name}}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="">
                          <a class="btn btn-icon btn-3 btn-sm btn-info" type="button">Edit</a>
                          <a href="{% url 'dashboard:delete_month' month.month_id %}" class="btn btn-icon btn-3 btn-sm btn-primary" type="button">Delete</a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card mb-4">
            <div class="card-header pb-0 d-flex flex-row justify-content-between">
              <h6>Sabbaths</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Manage</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if sabbaths %}
                    {% for sabbath in sabbaths %}
                    <tr>
                      <td>
                        <div class="d-flex px-3 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{sabbath.sabbath_alias}}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="">
                          {% if sabbath.is_active == True %}
                          <a class="btn btn-icon btn-3 btn-sm btn-warning" type="button">Active</a>
                          {% else %}
                            <a href="{% url 'dashboard:activate_sabbath'  sabbath.sabbath_id%}"  class="btn btn-icon btn-3 btn-sm btn-info" type="button">Activate</a>
                          {% endif %}
                          <a href="{% url 'dashboard:delete_sabbath' sabbath.sabbath_id %}" class="btn btn-icon btn-3 btn-sm btn-primary" type="button">Delete</a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- =================quater modals =============== -->
      <!-- Modal -->
      <div class="modal fade" id="quarterModal" tabindex="-1" role="dialog" aria-labelledby="quarterModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <form action="{% url 'dashboard:add_quarter' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="churchSecLabel">Add New Quarter</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                <div class="row justify-content-center">
                  <div class="col-md-6">
                    <p class="p-0 m-0">Quarter Title</p>
                    <div class="input-group input-group-outline my-2">{{ form1.quarter_name }}</div>
                  </div>
                  <div class="col-md-6">
                    <p>Tag</p>
                    <div class="input-group input-group-outline my-2">
                      <label class="form-label"></label>
                      {{ form1.tag }}
                    </div>
                  </div>

                  <div class="col-md-6">
                    <p class="p-0 m-0">Start Date</p>
                    <div class="input-group input-group-outline my-2">
                      <label class="form-label"></label>
                      {{ form1.start_date }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <p class="p-0 m-0">End Date</p>
                    <div class="input-group input-group-outline my-2">{{ form1.end_date }}</div>
                  </div>

                  <div class="col-md-6">
                    <p class="p-0 m-0">year</p>
                    <div class="input-group input-group-outline my-2">{{ form1.year }}</div>
                  </div>

                  <div class="col-md-6">
                    <p class="p-0 m-0">Conference</p>
                    <div class="input-group input-group-outline my-2">{{ form1.conference }}</div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn bg-gradient-danger" data-bs-dismiss="modal">Close</button>
                <input type="submit" value="Create Conference" class="btn bg-gradient-info" />
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- =================month modals =============== -->
      <!-- Modal -->
      <div class="modal fade" id="monthModal" tabindex="-1" role="dialog" aria-labelledby="monthModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <form action="{% url 'dashboard:add_month' %}" method="post">
              <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="churchSecLabel">Add Quarter Month</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div class="input-group input-group-outline my-2">
                      <label class="form-label">Month Name</label>
                      {{ form2.month_name }}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <p class="p-0 m-0">Start Date</p>
                    <div class="input-group input-group-outline my-2">
                      <label class="form-label"></label>
                      {{ form2.start_date }}
                    </div>
                  </div>

                  <div class="col-md-12">
                    <p class="p-0 m-0">End Date</p>
                    <div class="input-group input-group-outline my-2">
                      <label class="form-label"></label>
                      {{ form2.end_date }}
                    </div>
                  </div>
				  <div class="col-md-12">
					<div class="input-group input-group-outline my-2">
						<label class="form-label">Quater</label>
						{{form2.quarter}}
					</div>
				</div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn bg-gradient-danger" data-bs-dismiss="modal">Close</button>
                <input type="submit" value="Add Month" class="btn bg-gradient-info" />
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- ================= sabbath modals =============== -->
      <!-- Modal -->
      <div class="modal fade" id="sabbathModal" tabindex="-1" role="dialog" aria-labelledby="sabbathModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <form action="{% url 'dashboard:add_sabbath' %}" method="post" >
              <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="churchSecLabel">Add Sabbath Day</h5>
                <h5 class="modal-title font-weight-normal" id="churchSecLabel">Add Sabbath</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div class="input-group input-group-outline my-2">
                      <label class="form-label">Sabbath alias</label>
                      {{ form3.sabbath_alias }}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <p class="p-0 m-0">Date</p>
                    <div class="input-group input-group-outline my-2">
                      <label class="form-label"></label>
                      {{ form3.sabbath_week_start }}
                    </div>
                  </div>

                  <div class="col-md-12">
                    <p class="p-0 m-0">Week</p>
                    <div class="input-group input-group-outline my-2">
                      <label class="form-label"></label>
                      {{ form3.sabbath_week_ends }}
                    </div>
                  </div>

                  <div class="col-md-12">
                    <p class="p-0 m-0">Month</p>
                    <div class="input-group input-group-outline my-2">
                      <label class="form-label"></label>
                      {{ form3.month }}
                    </div>
                  </div>

                  <div class="col-md-12">
                    <p class="">Active-status</p>
                    <div class="form-check form-switch">{{ form1.is_active }}</div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn bg-gradient-danger" data-bs-dismiss="modal">Close</button>
                <input type="submit" value="Add Sabbath" class="btn bg-gradient-info" />
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- footer -->
      {% include 'partials/footer.html' %}
      <!-- footer -->
    </div>
  </main>
{% endblock %}
