{% extends 'user_dashboard.html' %}
{% load static %}
{% block content %}
  <!-- side nav -->
  {% include 'partials/conf_sidebar.html' %}
  <!-- side nav -->

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <!-- top nav -->
    {% include 'partials/top_nav.html' %}
    <!-- top nav -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-sm-12">
          <div class="">
            <div class="p-3 position-relative">
              <h4 class="badge badge-info d-inline">{{ active_quarter }}</h4>
              <h4 class="badge badge-info d-inline">{{ active_week }}</h4>
            </div>
          </div>
        </div>
      </div>

    <div class="container-fluid py-4">
      <div class="card"></div>
      <div class="row mt-4">
        <div class="col-12">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-lg-flex">
                <div>
                  <h5 class="mb-0">Weekly Trustfund Details</h5>
                </div>
                <div class="ms-auto my-auto mt-lg-0 mt-4"></div>
              </div>
            </div>
            <div class="card-body px-0 pb-0">
              <div class="table-responsive">
                <table class="table table-flush table-hover table-dark" id="products-list">
                  <thead class="text-light fw-bolder">
                    <tr class="bg-dark">
                      <th>Church</th>
                      <th>District</th>
                      <th>Week </th>
                      <th>Tithe</th>
                      <th>Offering</th>
                      <th>Total</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% if current_weeks_trustfunds %}
                      {% for trustfund in current_weeks_trustfunds %}
                        <tr>
                          <td class="text-sm">{{ trustfund.church }}</td>
                          <td class="text-sm">{{  trustfund.church.district }}</td>
                          <td class="text-sm">{{ trustfund.sabbath_week }}</td>
                          <td class="text-sm">{{  trustfund.tithe_amount }}</td>
                          <td class="text-sm">{{  trustfund.offering_amount }}</td>
                          
                          <td class="text-sm">
                          {{ trustfund.total_amount}}
                          </td>
                        </tr>
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      {% include 'partials/footer.html' %}
      <!-- footer -->
    </div>
  </main>
{% endblock %}
