{% extends 'user_dashboard.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<main class="main-content mt-0">
  <div class="page-header align-items-start min-vh-50 m-3 border-radius-lg" style="background-image: url('https://images.unsplash.com/photo-1497996541515-6549b145cd90?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');">
    <span class="mask bg-gradient-dark opacity-6"></span>
  </div>
  <div class="container mb-4">
    <div class="row mt-lg-n12 mt-md-n12 mt-n12 justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8 mx-auto">
        <div class="card mt-8">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1 text-center py-4">
              <h3 class="font-weight-bolder text-white">Reset Password</h3>
            </div>
          </div>
          <div class="card-body py-4">
          {% if validlink %}
            <form  method="post">
              {% csrf_token %}
              <div class="input-group input-group-static mb-4">
                {{ form }}  <!-- Include form fields -->
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-lg bg-gradient-info w-100 mt-4 mb-0">Reset</button>
              </div>
            </form>
          {% else %}
          <p> The password reset link is invalid, possibly because it has already been used. Please request a new password reset link
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
